/*
CLIENT_SYSINFO_COLOR			"#000000"	// FL_BLACK
CLIENT_CLOCK_COLOR          	"#959595"	// FL_DARK2
CLIENT_SYMBOL_COLOR				"#ffffff"	// FL_WHITE
CLIENT_LABEL_LINE_COLOR     	"#c0c0c0"	// FL_GRAY
CLIENT_LABEL_COLOR          	"#009100"	// FL_DARK_GREEN
CLIENT_LABEL_COLOR_OLD      	"#00007f"	// FL_DARK_BLUE
CLIENT_PREDICTION_LINE_COLOR	"#ffffff"	// FL_WHITE
CLIENT_ALERT_LINE_COLOR     	"#ff0000"	// FL_RED
CLIENT_HISTORY_COLOR        	"#ffffff"	// FL_WHITE
CLIENT_COLOR_BACKGROUND     	"#cbcbcb"	// FL_LIGHT1
CLIENT_COLOR_MAP_BORDER     	"#ffff00"	// FL_YELLOW
*/

* {
	border:0;
	margin:0;
	padding:0;
	font-family:helvetica,arial,sans-serif;
	box-sizing: border-box;
}
html,body {
	height:100%;
	overflow: hidden;
	font-size: 1.0rem;
}
a {
	color:#aaaaaa;
}
p {
	padding-top:2rem;
}
.header {
	overflow: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 50px;
	background:#c0c0c0;
	position:absolute;
	width:100%;
}
.controls {
	float:left;
	left:0px;
	height:50px;
	font-family:screen,mono,sans-serif;
	z-index:100;
	padding:0.5rem;
	text-align:left;
}
.controls input {
	width:4rem;
}
.sysinfo {
	float:left;
	height:50px;
	z-index:100;
	font-family:screen,mono,sans-serif;
	font-size:0.8rem;
	padding-left:1rem;
	display: inline-block;
}
.clock {
	float: right;
	top:0px;
	right:0px;
	height:50px;
	font-family:helvetica,screen,mono,sans-serif;
	font-weight:bold;
	font-size:36px;
	color:#959595;
	z-index:200;
	text-align:right;
	padding-top:0.4rem;
	padding-right:1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	position:absolute;
	top:50px;
	bottom:0px;
	left:0px;
	right:0px;
	display: flex;
}
.viewport {
	background:#cbcbcb;
	flex: 1 1 auto;
	/* prevent user selecting text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input {
	padding:0.2rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
	border:1px solid black;
	font-size:1rem;
	font-family:screen,mono,sans-serif;
}
button {
	padding:0.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border:1px solid black;
	font-size:1rem;
	cursor:pointer;
}
.index-header {
	height: 50px;
	background:#c0c0c0;
	position:absolute;
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.index-workarea {
	position:absolute;
	top:50px;
	bottom:50px;
	left:0px;
	right:0px;
	text-align:center;
	padding:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.index-workarea-buttons {
	width:40%;
}
.index-workarea button {
	padding:1rem;
	border:2px solid black;
	font-size:1.5rem;
	font-weight:bold;
	border-radius: 0.5rem;
	width:100%;
}
.index-footer {
	height: 50px;
	background:#f0f0f0;
	position:absolute;
	width:100%;
	bottom:0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
