providers: [
  {
    key: "makefile"
    config:
      file: "Makefile"
      regex: "^[A-Za-z][^$]+$"
      overwrite_wd: true
      props:
        wd: "."
        env: {}
        modifier:
          save_all: {}
        environment:
          name: "child_process"
          config:
            stdoe: "both"
        stdout:
          pipeline: [
            {
              name: "all"
            }
          ]
        stderr:
          pipeline: [
            {
              name: "profile"
              config:
                profile: "gcc_clang"
            }
          ]
        output:
          console:
            close_success: true
            queue_in_buffer: false
            colors: true
            stdin: false
          linter:
            no_trace: false
            immediate: false
        version: 2
  }
]
